{% extends 'base.html.twig' %}

{% block title %}SignalementSujet
{% endblock %}

{% block body %}
	<h1>SignalementSujet</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Message d'explication</th>
				<td>{{ signalement_sujet.message }}</td>
			</tr>
			<tr>
				<th>Titre du sujet</th>
				<td>{{ sujet.titre }}</td>
			</tr>
			<tr>
				<th>Contenu</th>
				<td>{{ sujet.contenu|raw }}</td>
			</tr>
		</tbody>
	</table>
	{{ include('sujet/_delete_form.html.twig') }}

	<button class="btn">
		<a href="{{ path('sujet_edit', {'id': sujet.id, 'signalement': signalement_sujet.id}) }}">Modifier le sujet</a>
	</button>

	{{ include('signalement_sujet/_delete_form.html.twig') }}
{% endblock %}
