{% extends 'base.html.twig' %}

{% block title %}Recherche
{% endblock %}

{% block body %}
	<section>
		<div class="section-inner ">
			<div class="mb100 wow">
				<h2 class="section-heading">Recherche</h2>
			</div>
			<div class="mb100 wow">

				{{ form_start(form) }}
				{{ form_row(form.mots) }}
				<br>
				{{ form_row(form.Rechercher, { 'label': 'Rechercher' }) }}
				{{ form_end(form) }}

			</div>


			{% if petitions is not null %}
				<div class="mb100 wow">
					<h2 class="section-heading">Résultat de la recherche</h2>
				</div>
				{% for petition in petitions %}
					<h2>
						<a href="{{ path('petition_edit_candidat', {'petition': petition.id}) }}">{{ petition.titre|raw  }}</a>
					</h2>
					<p>{{ petition.contenu|raw  }}</p>
				{% endfor %}
			{% else %}
				<div class="mb100 wow">
					<h3 class="section-subheading secondary-font">Aucun résultat à afficher.</h3>
				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
