{% extends 'base.html.twig' %}

{% block title %}
	{{ titre }}
{% endblock %}

{% block body %}
	<h1>{{ titre }}</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Message</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for signalement in signalements %}
				<tr>
					<td>{{ signalement.message }}</td>
					<td>
						<a href="{{ path('signalement_show', {'id': signalement.id}) }}">show</a>
						<a href="{{ path('signalement_edit', {'id': signalement.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
